/* --- Style pour le titre et le sous titre --- */
.bloc-de-marge{
    min-height: 20px;
}

.titre-formulaire {
    color: #2c7be5;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
}

/* --- Style pour le formulaire --- */
.cssFormulaire {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 30px;
    background: #cfebda;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

/* --- Style pour les labels --- */
.cssFormulaire label {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
}

/* --- Style pour les différents champs du formulaire --- */
.cssFormulaire input,
.cssFormulaire select,
.cssFormulaire textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    background-color: #fff;
    box-sizing: border-box;
}

/* --- Style effet focus --- */
.cssFormulaire input:focus,
.cssFormulaire select:focus,
.cssFormulaire textarea:focus {
    border-color: #2c7be5;
    outline: none;
    box-shadow: 0 0 4px rgba(44, 123, 229, 0.4);
}

/* --- Style pour les champ à remplir invalide --- */
.is-invalid {
    border-color: #e74c3c !important;
    background-color: #f5fff7;
}

.bloc-du-formulaire {
    min-height: 100px;
}

/* --- Style pour le message d'erreur --- */
.text-champ-invalide {
    color: #e74c3c;
    font-size: 13px;
    margin-top: -5px;
    display: block;
}

/* --- Style pour le bouton Valider --- */
.cssFormulaire button {
    margin-top: 20px;
    padding: 12px;
    background-color: #2c7be5;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cssFormulaire button:hover {
    background-color: #7dd885;
}

.photo_url-pollution {
  width: 100%;       /* prend toute la largeur du formulaire ou du bloc parent */
  height: auto;      /* conserve les proportions */
  max-height: 300px; /* facultatif, limite la hauteur pour ne pas déformer le formulaire */
  display: block;
  margin-top: 5px;
  border-radius: 6px;
  object-fit: cover; /* ajuste l'image pour remplir le bloc sans déformation */
}

.preview-photo_url p {
  margin: 5px 0;
  font-weight: bold;
}